.logo {
  margin: 0px 5px 0px 5px;
}

.navLinks {
  /* max-width: 1000px;
  margin: 0 auto; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgb(255, 240, 210);
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0.5rem 1rem;
}

.navLinks ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-self: end;
  gap: 0.75rem;
  float: right;
}

.navLinks ul li {
  margin: 5px 5px 0px 5px;
}

.navLinks a {
  text-decoration: none;
  font-size: 1.25rem;
  color: #333;
  transition: color 0.2s;
}

.navLinks a:hover {
  color: #0070f3;
}

@media (max-width: 850px) {
  .hide {
    display: none;
  }
}